.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

src/main/resources/application.yml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/64dbfcf7-5df6-42d0-a032-9774779003c4.xml

.idea/dataSources/64dbfcf7-5df6-42d0-a032-9774779003c4/storage_v2/_src_/database/TESTDB.kGhKkw.meta
.idea/dataSources/64dbfcf7-5df6-42d0-a032-9774779003c4/storage_v2/_src_/database/TESTDB.kGhKkw/schema/INFORMATION_SCHEMA.NBgcMw.meta
.idea/dataSources/64dbfcf7-5df6-42d0-a032-9774779003c4/storage_v2/_src_/database/TESTDB.kGhKkw/schema/PUBLIC.aaZQjQ.meta
.idea/dataSources/b758519a-b9bd-49b3-a07c-ab23f9a85af7.xml
.idea/dataSources/b758519a-b9bd-49b3-a07c-ab23f9a85af7/storage_v2/_src_/database/MYDB.KlckAA.meta
.idea/dataSources/b758519a-b9bd-49b3-a07c-ab23f9a85af7/storage_v2/_src_/database/MYDB.KlckAA/schema/PUBLIC.aaZQjQ.meta
.idea/dataSources/b758519a-b9bd-49b3-a07c-ab23f9a85af7/storage_v2/_src_/database/MYDB.KlckAA/schema/INFORMATION_SCHEMA.NBgcMw.meta
